body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("../assets/bird-3342446_1280.jpg"); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .styles.NavBar {
    background-color: rgba(201, 194, 194, 0.8); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    width: 100%;
  }
  
  .nav-link {
    font-size: 1rem;
    color: #333333;
    transition: color 0.3s ease-in-out;
    margin-left: 15px;
  }
  
  .nav-link:hover {
    color: #007bff;
  }
  
  .navbar-toggler {
    border: none;
    outline: none;
    box-shadow: none;
  }
  