.Post {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 15px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #ec1d1d;
  
  }
  
  .Heart:hover {
    color: #e49999;
  }
  
  .HeartOutline,
  .HeartOutline:hover {
    color: #ec1d1d;
  }
  
  .CommentOutline,
  .CommentOutline:hover {
    color: #8E8DBE;
  }