.Row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin: 0;
  padding: 1rem;
}

.Header {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3a3a3a;
  text-align: center;
  margin-bottom: 1.5rem;
}

.Input,
textarea,
select {
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  
}

.Input:focus,
textarea:focus,
select:focus {
  border-color: #6c63ff;
  outline: none;
  box-shadow: 0 0 8px rgba(108, 99, 255, 0.3); 
}

.Content {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 500px;
  min-width: 320px; 
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.SignUpCol {
  display: none; 
}

.Link {
  font-size: 1rem;
  color: #030217;
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.Link span {
  font-weight: bold;
}

.Link:hover {
  text-decoration: underline;
  color: #564fd8; 
}

.Alert {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #e74c3c;
}

.Alert-warning {
  background-color: rgba(255, 255, 0, 0.1);
  border-color: #e74c3c;
}

@media (max-width: 768px) {
  .Row {
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }

  .Content {
    padding: 1.5rem;
    max-width: 320px; 
  }

 .SignUpCol {
    display: none;
  }
}